<!DOCTYPE html>
<html lang="en">

<head><%- include("../partials/helmet.ejs", { pageTitle: "Manage Your Categories" }) %></head>

<body>
  <%- include("../components/navbar.ejs") %>
  <main>
    <header>
      <h1 class="page-title">All categories</h1>
      <a href="/categories/new" class="button-anchor-wrapper">
        <%- include("../components/addNewButton.ejs", { text: "Add new category" }) %>
      </a>
    </header>

    <ul class="categories-list">
      <% categories.forEach(category => { %>
      <li class="category-list-item">
        <a href="/categories/<%= category.id %>" class="category clickable-row">
          <figure class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-icon lucide-folder">
              <path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
            </svg>
          </figure>
          <div class="category-text-container">
            <p><%= category.name %></p>
            <!-- <p class="item-count">(x items)</p> -->
          </div>
        </a>
      </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>