<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/helmet.ejs", { pageTitle: "Edit category" }) %>
</head>

<body>
  <%- include("../components/navMenu.ejs") %>
  <main>
    <header>
      <h1 class="page-title" id="page-title">Edit category</h1>
      <div class="buttons">
        <button type="button" class="delete-btn">Delete category</button>
        <a href="/categories" aria-label="Close this category and view all categories">
          <button type="button" class="close-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </a>
      </div>
    </header>

    <section class="main-section">
      <section aria-labelledby="page-title" class="content-section">
        <%- include("../partials/errorsList.ejs") %>
        <form action="/categories/update" method="POST" id="category-form">
          <ul>
            <li>
              <label for="nameInput">Category name*</label>
              <input type="text" id="nameInput" name="name" required value="<%= category.name %>" />
            </li>
            <li>
              <label for="descriptionInput" class="optional-input">Description<small>(Optional)</small></label>
              <textarea id="descriptionInput" name="description" rows="6"><%= category.description %></textarea>
            </li>
          </ul>
        </form>
      </section>
      <%- include("../components/compositeItems.ejs", { compositeItems }) %>
    </section>

    <footer class="page-footer">
      <div class="buttons">
        <input type="submit" form="category-form" class="primary-btn" value="Save" />
        <a href="/categories" aria-label="Cancel adding new category and view all categories"><button type="button" class="cancel-btn">Cancel</button></a>
      </div>
    </footer>
  </main>
</body>

</html>