<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>
      <th class="align-right">Weight</th>
      <th>Roastery</th>
      <th class="align-right">Selling price ($AUD)</th>
      <th class="align-right">Stock on hand</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(item => { %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.sku %></td>
      <td class="align-right"><%= item.size_grams %></td>
      <td><%= item.roastery %></td>
      <td class="align-right"><%= item.price_cents %></td>
      <td class="align-right"><%= item.stock_quantity %></td>
      <td class="buttons">
        <a href=<%= `/items/${item.id}` %>>
          <button type="button" class="secondary-btn action-btn">Edit</button
          >
        </a>
        <button type="button" class="delete-btn action-btn">Delete</button>
      </td>
    </tr>
    <%}); %>
  </tbody>
</table>
