<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %> | Manage your coffee inventory</title>
  <link rel="stylesheet" href="/css/output.css" />
  <%- defineContent(style) %>
</head>

<body>
  <div class="drawer lg:drawer-open">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle">
    <div class="drawer-content">
      <%- include("../components/userAvatarHeader") %>
      <main>
        <%- body %>
      </main>
    </div>
    <%- include("../components/navDrawer") %>
    </div>

  <%- defineContent(script) %>
  <script src="/js/navScript.js"></script>
</body>

</html>