<section>
  <header class="w-full">
    <button type="button" class="btn btn-primary">Add item to category</button>
  </header>
  <div class="overflow-x-auto">
    <table class="table">
      <thead class="uppercase bg-neutral-200 text-neutral-600">
        <tr>
          <th>Item name</th>
          <th>SKU</th>
          <th>Weight</th>
          <th>Roastery</th>
          <th>Selling price ($AUD)</th>
          <th>Stock on hand</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% compositeItems.forEach(item => { %>
        <tr onclick="window.location='<%= `/items/${item.id}` %>'" aria-label="See more details of item" class="hover:bg-neutral-100 hover:cursor-pointer">
          <td><%= item.name %></td>
          <td><%= item.sku %></td>
          <td><%= Math.round(item.size_grams) %>g</td>
          <td><%= item.roastery %></td>
          <td><%= item.price_dollars %> <span class="decorative-text">/unit</span></td>
          <td><%= item.stock_quantity %></td>
          <td class="grid">
            <button class="btn btn-outline btn-error justify-self-end">Remove from category</button>
          </td>
        </tr>
        <%}); %>
      </tbody>
    </table>
  </div>
</section>