<section class="flex flex-2 flex-col gap-4">
  <header class="grid w-full justify-items-end px-8">
    <%- include("./buttonTriggeredDropdown", { text: "Add item", options: [{
    label: "Add new item", href: `/items/new?referredCategoryId=${categoryId}`
    }, { label: "Add existing item", href: "#" }]}) %>
  </header>
  <div class="overflow-x-auto">
    <table class="table table-auto">
      <thead class="bg-neutral-200 text-neutral-600 uppercase">
        <tr>
          <th>Item name</th>
          <th>SKU</th>
          <th>Weight</th>
          <th>Roastery</th>
          <th>Selling price ($AUD)</th>
          <th>Stock on hand</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% compositeItems.forEach(item => { %>
        <tr
          onclick="window.location = '<%= `/items/${item.id}` %>'"
          aria-label="See more details of item"
          class="hover:cursor-pointer hover:bg-neutral-100"
        >
          <td><%= item.name %></td>
          <td><%= item.sku %></td>
          <td><%= Math.round(item.size_grams) %>g</td>
          <td><%= item.roastery %></td>
          <td>
            <%= item.price_dollars %> <span class="decorative-text">/unit</span>
          </td>
          <td><%= item.stock_quantity %></td>
          <td class="grid pr-10">
            <button
              class="btn btn-circle btn-ghost justify-center"
              aria-label="Remove item from this category"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-trash-icon lucide-trash stroke-error"
              >
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                <path d="M3 6h18" />
                <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
              </svg>
            </button>
          </td>
        </tr>
        <%}); %>
      </tbody>
    </table>
  </div>
</section>
